@model IEnumerable<Lap_4_5_6.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<ul class="course">
    @foreach(var course in Model)
    {
        <li>
            <div class="date">
                <div class="day">
                    Ngày @course.DateTime.ToString("dd")
                </div>
                <div class="month">
                    Tháng @course.DateTime.ToString("MM")
                </div>
                
            </div>
            <div class="details">
                <span class="lecturer">
                    Giảng viên: @course.Lecturer.Name
                    <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-following">Theo dõi?</button>
                </span>
                <br/>
                <span class="category">
                    Khóa học: @course.Category.Name
                </span>
                <button data-course-id ="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Tham gia?</button>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances",{courseId: button.attr("data-course-id")})
                    .done(function(){
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Đang tới...");
                    })
                    .fail(function(){
                        alert("Lỗi rồi...");
                    });
            });

            $(".js-toggle-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Đang theo dõi...");
                    })
                    .fail(function () {
                        alert("Lỗi rồi...");
                    });
            });
        })
    </script>
}