
@{
    ViewBag.Title = "Folowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Folowing</h2>

<ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="day">
                    Ngày @course.DateTime.ToString("dd")
                </div>
                <div class="month">
                    Tháng @course.DateTime.ToString("MM")
                </div>

            </div>
            <div class="details">
                <span class="lecturer">
                    Giảng viên: @course.Lecturer.Name
                </span>
                <br />
                <span class="category">
                    Khóa học: @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Tham gia?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Đang tham gia...");
                    })
                    .fail(function () {
                        button.removeClass("btn-info")
                              .addClass("btn-default")
                              .text("Tham gia");
                    });
            });

            $(".js-toggle-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Đang theo dõi...");
                    })
                    .fail(function () {
                        button
                            .text("Theo dõi...");
                    });
            });
        })
    </script>
}